{% extends 'blog/base.html' %}
<html>
	<body>
		{% block content %}
		<div>
		<a href="http://catchsaurabh0209.pythonanywhere.com/blog/"> <img src="https://blogordietryin.files.wordpress.com/2012/06/life_improvement.png"

         alt="poor internet connection"
			style = "width: 700px; height: 720px;border: 100;display: block;margin-right: auto;margin-left: auto">
        </a>
        <h2 style="font-style: bold"> <center>Click on the image to watch blog OR Click on blog section in navbar</center> </h2>
        </div>
        {% endblock %}
	</body>
</html>